<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleIdentifier</key>
		<string>com.mh.D64Browser</string>
		<key>CFBundleName</key>
		<string>D64Browser</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeName</key>
				<string>Commodore 64 Disk Image</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.dwarfland.d64</string>
					<string>com.dwarfland.d71</string>
				</array>
			</dict>
		</array>
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.business</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright Vision Thing B.V. All rights reserved.</string>
		<key>NSMainNibFile</key>
		<string>MainMenu</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
		<key>UTExportedTypeDeclarations</key>
		<array>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.dwarfland.d64</string>
				<key>UTTypeDescription</key>
				<string>Commodore 64 Disk Image</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>public.filename-extension</key>
					<array>
						<string>d64</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>com.dwarfland.d71</string>
				<key>UTTypeDescription</key>
				<string>Commodore 1571 Disk Image</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>public.filename-extension</key>
					<array>
						<string>d71</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
